.productContainer{
    width: 400px;
    height:475px;
    margin-bottom: 20px;
    border:1px solid gray;
    border-radius: 15px;
    padding-bottom: 10px;
}

.productImgContainer{
    width: 100%;
    height:80%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    cursor: pointer;
}
.productImgContainer img{
    width:80%;
    height:100%;
}

.productTextContainer{
    border-top: 1px solid ;
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBtn{
    display: flex;
    justify-content: center;
}

.productBtn button{
    width:75%;
    font-size: 1.3rem;
    background-color: #fff;
    border:.5px solid gray;
    border-radius: 10px;
    transition: .5s;
}

.productBtn button:hover{
    color:red;
    cursor: pointer;
}